@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {

    /*========== Primary colors ==========*/
    --primary-blue: hsl(238, 40%, 52%);
    --primary-soft-red: hsl(358, 79%, 66%);
    --primary-pale-red: hsl(357, 100%, 86%);
    --primary-light-grayish: hsl(239, 57%, 85%);
    --body-color: hsl(223, 19%, 93%);

    /*========== Neutral colors ==========*/
    --neutral-dark-blue: hsl(212, 24%, 26%);
    --neutral-grayish-blue: hsl(211, 10%, 45%);
    --neutral-light-gray: hsl(223, 19%, 93%);
    --neutral-lighten-gray: hsl(228, 33%, 97%);
    --neutral-white: hsl(0, 0%, 100%);


    /*========== Font and typography ==========*/
    --body-font:'Rubik', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --paragraph-font-size: 1rem ;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;


    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


body{
    font-family: var(--body-font);
    background: var(--body-color);
    padding: 0!important;
    }

.scene{
    margin-top: -8px!important;
    margin-left: -8px!important;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
}

.modal-back-drop{
    position: absolute;
    background: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
    z-index: var(--z-modal);
    margin-left: -8px;
    margin-top: -8px;
    display: none;
}
#delete-modal-toggle{
    display: none;
}
#delete-modal-toggle:checked~.scene{
    overflow-y: hidden;
    display: flex;
}

#delete-modal-toggle:checked+ .modal-back-drop{
    display: flex;
    justify-content: space-around;
}

.main-container{
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.comment-container{
    margin-left: -8px;
    position: absolute;
    width: 100%!important;
    max-width: 100%!important;
    bottom: 10px;
    display: flex;
    justify-content: space-around
}
.comments-queue{

}

.comment-item{
    padding: 0px 20px ;
}

.comments-queue .comment-item:last-child{
    margin-bottom: 120px;
}



.comment-bloc{
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
}

.content{
    width: calc(100% - 50px);
}


.likes{
    border-radius: 7px;
    width: 36px;
    margin: 0 20px 0 0;
    background-color: var(--body-color) ;
    height: fit-content;
    overflow: hidden;
}

.likes span, .likes i{
    padding: 10px!important;
    display: flex;
    justify-content: space-around;
    color: var(--primary-light-grayish);
}

.likes span{
    color: var(--primary-blue);
    font-weight: var(--font-bold);
    }

.likes  i{
    cursor: pointer;
    transition: all ease-in-out .15s;
}

.likes  i:hover{
    cursor: pointer;
    color: var(--primary-blue);
}

.content > div:first-child{
    display: flex;
    }
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 5px;
}

.avatar.xs{
    width: 36px!important;
    height: 36px!important;
}

.xs{
    width: 36px!important;
    height: 36px!important;
}

.header{
    width: calc(100% - 150px);
    display: flex;
    align-items: center;
}

.header > h4{
    padding: 0;
    margin: 0;
}
.header > span{
    background-color: var(--primary-blue);
    padding: 1px 5px;
    margin: 0 10px;
    color: white;
    border-radius: 2px;
    display: inline-block;
}

.header > span:last-child{
    color: var(--neutral-grayish-blue);
    background-color: transparent;
    margin: 0;
}

.text{
    word-break: break-word;
    line-height: 23px;
    font-size: var(--paragraph-font-size);
    color: var(--neutral-grayish-blue);
    margin-bottom: 0;
}

.btn{
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: var(--font-bold);
    border-radius: 5px;
    transition: all ease-in-out .15s;
    height: fit-content;
    padding: 10px 10px;

}

.btn.secondary{
    background-color: transparent;
    color: var(--primary-blue);
}

.btn i{
    margin-right: 5px;
}

.btn.secondary:hover{
    color: var(--neutral-light-gray);
}

.btn.secondary,.btn.delete{
    display: flex;
    align-items: center
}

.btn.delete{
    overflow: hidden;
    padding: 0!important;
    background-color: transparent;
    color: var(--primary-soft-red);
}

.btn.delete>label{
    display: flex;
    height: 100%;
    padding: 10px;
    cursor: pointer
}

.btn.delete:hover{
    color: var(--primary-pale-red);
}

.btn.btn-primary{
    color: white;
    background-color: var(--primary-blue);
}

.btn.btn-primary:hover{
    opacity: 50%;
}

.hide{
    display: none!important;
}

.show{
    display: flex!important;
}

.new-comment,
.new-reply{
    background-color: white;
    padding:20px;
    border-radius:5px;
    display: none;
    justify-content: space-between;
}

.comment-bloc input[type=checkbox]{
    display: none;
}

.comment-bloc input[type=checkbox]:checked + .new-reply{
    display: block;
}
.new-comment{
    margin-top: 10px;
    display: block;
    max-width: 800px;
    width: 722px;
    margin-left: -15px;
    border: solid var(--neutral-light-gray) 1px;
}

.comment-area{
    min-height: 55px;
    height: fit-content;
    max-height: 200px;
    overflow: auto;
    border: solid var(--neutral-light-gray) 1px;
    border-radius: 5px;
    width: calc(100% - 130px);
    cursor: pointer;
    padding: 10px 20px;
    color: var(--neutral-grayish-blue);
    display: block;
}

.text:focus,
.comment-area:focus{
    outline-color: var(--primary-blue);
}

.text:focus{
    padding: 10px 20px;
}

.replies{
    height: fit-content;
    display: flex;
}

.replies .vertical-bar{
    width: 0;
    height: 100%;
    border-right: solid var(--primary-light-grayish) 2px;
    margin-right: 30px;
}

.replies .queue{
    height: 100%;
    width: 100%;
    border-left: solid var(--primary-light-grayish) 1px;
    padding-left: 30px;
    margin-left: 37px;

}

.display-sm{
    display: flex;
}
.display-sm.bloc{
    display: block;
}
.display-xs{
    display: none;
}

@media screen and (max-width: 600px) {
    .display-xs{
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }
    .display-sm{display: none;}
    .display-sm.bloc{
        display: none;
    }
    .content{
        width: 100% !important;
    }
    .header{
        width: calc(100% - 36px);
    }

    .replies{
        padding: 0;
    }
    .queue{
        margin: 0 0 0 0!important;
        padding: 0 0 0 9px!important;
        width: calc(100% - 10px) !important;
    }

    .comment-container{
        bottom: 0;
    }
    .comment-area{
        width: 100%;
    }

    .comments-queue .comment-item:last-child{
        margin-bottom: 150px;
    }

    .new-comment{
        width: 100% !important;
        border-radius: 0;
    }
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text{
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child{
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 80%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}